@{
    var levelData = ViewBag.Levels;
}

<body>
    <h1 class="page-headings">Sort The Call Numbers In Ascending Order</h1>
    <h4 style="color: #457EAC; margin-top: 1rem;text-align:center;">Drag the boxes.</h4>

    <div class="d-flex level-info-container">
        <select class="custom-select" id="level-select">
            <option value="Beginner">Beginner</option>
            <option value="Intermediate">Intermediate</option>
            <option value="Challenger">Challenger</option>
            <option value="Expert">Expert</option>
        </select>

        <button id="info" type="button" class="info-btn" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-container="body" data-bs-title="How to play">ℹ️</button>
        
        <div style="text-align:center; margin: auto 0rem;">
            <button id="start-btn">Start</button>
        </div>
        

        <div id="timer-container" class="countdown">
            <span id="timer"></span>
        </div>
          
    </div>


    <ul id="sortable-list">
        @{
            // Define an array of colors
            string[] colors = { "#FFBE0B", "#FB5607", "#FF006E", "#8338EC", "#3A86FF", "#5DD39E", "#CFBFF7", "#107E7D", "#BEEE62", "#FFB8DE" };
        }

        @foreach (var item in ViewBag.Items)
        {
            // Generate a random index to select a color
            int randomIndex = new Random().Next(0, colors.Length);
            string randomColor = colors[randomIndex];

            <li class="book-boxes" draggable="true" style="background-color: @randomColor;">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">@item</p>
                    </div>
                </div>
            </li>
        }
    </ul>

    <div class="d-flex justify-content-center">
        <button id="check-submit-button">Check</button>
    </div>

    <div id="result-modal" class="modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header" style="border: none;">
                    <h5 id="outcome" class="modal-title">Modal title</h5>
                    <button id="close-modal1" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer" style="border: none;">
                    <button id="close-modal2" type="button" class="close-btn" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        // Get the levels from the ViewBag and parse them as JSON
        var levels = @Html.Raw(Json.Serialize(levelData));
    </script>
    <script src="~/js/site.js"></script>

    
</body>