@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');


html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Montserrat', san-serif;
  margin-bottom: 60px;
}

/* Nav */

.navbar{
    background-color:#457EAC !important;
    padding-left: 2rem;
    padding-right: 2rem;
}

.navbar-brand{
    font-size:1.5rem;
    font-weight:600;
}

.nav-link{
    font-size:1rem;
    font-weight:500;
}

.nav-link:hover{
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: white;
}

.navbar-dark .navbar-toggler {
    color: white;
    border-color: white;
}

/*  Home - Learn    */

#replacing-books-square {
    background-color: #DD88C2;
}

#identifying-areas-square {
    background-color: #457EAC;
}

#find-callnums-square {
    background-color: #659157;
}


.learn-cards{
    padding:3rem 2rem;
}


.selection-row{
    margin:5rem 1rem;
}

.square-img {
    width: 150px;
    height: 150px;
    align-self: center;
    margin-bottom: 1rem;
}

.coming-soon{
    color:#457EAC;
    margin-top: 4rem;
    text-align:center;
}

/*  Replace The Books    */

ul {
    list-style-type: none;
    padding: 0;
    display: flex; /* Display list items horizontally */
}

.book-boxes {
    border: 1px solid #ddd;
    padding: 10px;
    margin-right: 5px; /* Add margin between items */
    background-color: #fff;
    cursor: pointer;
}

    .book-boxes:last-child {
        margin-right: 0; /* Remove margin from the last item */
    }

    .book-boxes:hover {
        background-color: #f2f2f2;
    }

.dragging {
    opacity: 0.5;
}