@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');


html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Montserrat', san-serif;
  margin-bottom: 60px;
}

/* Nav */

.navbar{
    background-color:#457EAC !important;
    padding-left: 2rem;
    padding-right: 2rem;
}

.navbar-brand{
    font-size:1.5rem;
    font-weight:600;
}

.nav-link{
    font-size:1rem;
    font-weight:500;
}

.nav-link:hover{
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: white;
}

.navbar-dark .navbar-toggler {
    color: white;
    border-color: white;
}

/*  Home - Learn    */

#replacing-books-square {
    background-color: #DD88C2;
}

    #replacing-books-square:hover {
        background-color: #C279AB;
    }

#identifying-areas-square {
    background-color: #457EAC;
}

    #identifying-areas-square:hover {
        background-color: #3C6D94;
    }

#find-callnums-square {
    background-color: #659157;
}

    #find-callnums-square:hover {
        background-color: #5A7E4C;
    }


.learn-cards{
    padding:3rem 2rem;
}


.selection-row{
    margin:5rem 1rem;
}

.square-img {
    width: 150px;
    height: 150px;
    align-self: center;
    margin-bottom: 1rem;
}

.page-headings{
    color:#457EAC;
    margin-top: 4rem;
    text-align:center;
}

/*  Replace The Books    */

#sortable-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin-top: 2rem;
}

.book-boxes {
    border: 1px solid #ddd;
    background-color: #fff;
    cursor: pointer;
    font-size:1rem;
    font-weight:500;
    height:18rem;
    margin-right: 1rem;
    padding-left: 10px;
    padding-right:10px;
    padding-top:15%;
}

    .book-boxes:last-child {
        margin-right: 0; 
    }


#check-submit-button {
    border: 2px solid #457EAC;
    background-color: #457EAC;
    border-radius: 20px;
    color: white;
    font-weight: 500;
    margin-top: 2rem;
    margin-bottom:10rem;
    padding: 0.5rem 1rem;
    width: 10%;
}

    #check-submit-button:hover {
        background-color: white;
        border: 2px solid #457EAC;
        color: #457EAC;
        font-weight: 600;
    }

.close-btn{
    background-color: #457EAC;
    border: 2px solid #457EAC;
    border-radius: 50px;
    color: white;
    font-weight: 500;
    padding: 0.5rem 1rem;
    text-align: center;
}

    .close-btn:hover {
        background-color: white;
        border: 2px solid #457EAC;
        color: #457EAC;
    }

.countdown {
    border: 2px solid #457EAC;
    border-radius: 50px;
    color: #457EAC;
    font-size: 1.2rem;
    font-weight: 600;
    margin: auto 0rem;
    padding: 0.5rem 1rem;
    text-align: center;
}


.custom-select {
    border: 2px solid #457EAC;
    border-radius: 20px;
    color: #457EAC;
    font-size: 1rem;
    font-weight: 600;
    margin-right: 2rem;
    padding: 0.5rem 0.5rem;
}

.custom-select option{
    font-weight: 500;
}

select:focus {
    outline: none;
}

.level-info-container{
    margin-top:3rem;
    margin-bottom: 2rem;
}

.info-btn {
    background-color: white;
    border: 2px solid #457EAC;
    border-radius: 20px;
    color: #457EAC;
    font-size: 1rem;
    margin-right:1rem;
    padding: 0.5rem 1rem;
    text-align: right !important;
}

    .info-btn:hover {
        background-color: #457EAC;
        border: 2px solid #457EAC;
        color: white;
        font-weight: 700;
    }

.popover-header {
    background-color: #457EAC;
    border-color:#457EAC;
    font-family:"Montserrat",sans-serif;
    font-weight:600;
    color:white;
}

.popover-body{
    font-family:"Montserrat",sans-serif;
    font-weight:500;
    color:black;
}

#start-btn {
    border: 2px solid #457EAC;
    background-color: #457EAC;
    border-radius: 40px;
    color: white;
    font-weight: 500;
    margin-top: 0px;
    margin-right:1rem;
    padding: 0.5rem 2rem;
}

#start-btn:hover{
background-color: white;
    border: 2px solid #457EAC;
    color: #457EAC;
    font-weight: 600;
}

/*Identiyfing Areas */

.list-group-item {
    border-width: 3px;
    user-select: none;
}

.lists-container {
    display: flex;
    justify-content: center;
    margin-top:5rem;
}

.horizontal-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

    .horizontal-list li {
        display: inline-block;
        margin-right: 10px;
    }


.left-list-item {
    border-color: #CFBFF7;
    font-size: 1.1rem;
}

.right-list-item {
    border-color: #5DD39E;
    font-size: 1.1rem;
}


.description-list:before {
    content: attr(aria-label);
    font-size: 1.1rem;
    font-weight: 600;
    margin-left: -15px;
}

